# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.LameScooter.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\emilj\Documents\GitHub\gp20-2021-0426-rest-gameserver-EmilHuzell\LameScooter\.idea\.idea.LameScooter.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
